* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.main-section {
	overflow: hidden;
	height: 80vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: height 0.5s ease; 
}

.main-section:has(.arrow-change){
	height: 100vh;
}

.overlay {
	display: none;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: rgb(0, 0, 0);
	background: linear-gradient(80deg, rgba(0, 0, 0, 0.7401085434173669) 0%, rgba(0, 0, 0, 0.2359068627450981) 100%);
}

#arrow {
	transition: all 0.3s ease;
}

.show-button {
	cursor: pointer;
	display: grid;
	place-items: center;
	top: 75%;
	left: 50%;
	position: absolute;
	color: white;
	background-color: #0b0662;
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	transform: translate(-50%, -50%);
	transition: 0.5s ease;
}

.show-button:hover {
	background-color: #060078;
	width: 45px;
	height: 45px;
}

.artists {
	position: absolute;
	top: 80%;
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	height: 20vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: all 0.5s ease;
	transform: translateY(0%);
}

.Artist-Button {
	background-color: black;	
	border: none;
}
.Artist-Button:hover img {
    width: 155px; 
    transition: width 0.5;
}


.artist h1{
	font-size: 1.5rem;
}

.artist img {
	width: 150px;
	height: auto;
	border-radius: 100px;
	margin-bottom: 15px; 
}


.artist-hidden {
	transform: translateY(100%);
}

.arrow-change {
	top: 90%;
}

.arrow-change > i {
	transform: rotateZ(-180deg);
}

.content.container-fluid{
	display: grid;
	background-color: beige;
	height: 80vh;
	grid-template-rows: 1fr 6.5fr 1.2fr ;
	grid-template-columns: 2.2fr 6fr 2.2fr;
	transition: height 0.5s ease; 
}


.item-1{
	grid-area : 2/ 1/ 2/-3;
	display: flex;
  	justify-content: center; 
  	align-items: center;
}

.item-1 img{
	border-radius: 50%;
	width: 400px;
	height:auto;
	margin-right: 20px;
	transition: all 0.5s ease;
	transform: translateY(0%);
}

.item-2{
	grid-area : 1/2/1/-2;
	display: flex;
	justify-content: center; 
	align-items: center;
}

.item-3{
	grid-area : 2/2/2/-2;
	display: flex;
	justify-content: center; 
	align-items: center;
}

.item-4{
	grid-area: 3/2/3/-2;
}

.item-5{
	grid-area : 1/3/1/4;
}

.item-6{
	grid-area: 2/3/4/4;
}


.artist-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.artist-info h1 {
	margin-bottom: 10px;
	text-align: center; 
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 2.5rem;
	color: #333;
	text-transform: uppercase;
  }
  

.artist-info p{
	font-style: italic;
	text-align: center;
	opacity: 0.8; 
  	font-size: 18px; 
  	font-weight: 500; 
 	 color: #333; 

}

.cards.container-fluid{
	display : grid;
	height: 100%;
	padding: 0;
	grid-template-rows: repeat(2,1fr);
	grid-template-columns: repeat(2,1fr);
	perspective: 1500px;
}

.cards{
	height: 100%;
	width: 100%;
	position: relative; 
	transition: transform 1500ms;
	transform-style: preserve-3d;
}


.card-1:hover {
	cursor: pointer;
	transform: rotateY(180deg);
  }

.card-2:hover {
	cursor: pointer;
	transform: rotateY(180deg);
}

.card-3:hover {
	cursor: pointer;
	transform: rotateY(180deg);
}



.card-4:hover {
	cursor: pointer;
	transform: rotateY(180deg);
}

.front,
.back {
	height:100%;
	width:100%; 
	border-radius: 2rem;
	box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
	position: absolute; 
	backface-visibility: hidden;
}

.front {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	padding-left: 25px;
	padding-right: 25px;
}

.back{
	background-color: #0C0404;
	color: white;	
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	overflow: auto;
}



/* * {
	scrollbar-width: auto;
	scrollbar-color: #080808 #ffffff;
}


*::-webkit-scrollbar {
	width: 2px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #080808;
	border-radius: 2rem;
	border: 0px none #ffffff;
} */

.back h1{
	font-size: 1.8rem;
}

.back p{
	padding: 10px;
	overflow: auto;	
}

.back text{
	overflow: auto;
}



.rightside.container-fluid{
	margin-left: 2px;
	display: grid;
	height: 100%;
	grid-template-rows: repeat(2,1fr);
	grid-template-columns: 1fr;
}

.rightside-1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom:2px;
}

.rightside-2{
	padding-top: 10px;
	width:100%;
	text-align: right;
}

.box-content{
	height:80%;
	width: 100%;
	background: beige;
	box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
	border-radius: 5px;
	text-align: left;
	padding: 0;
	margin-top: 2px;
	overflow: auto;
}


#comment-input{
	width:100%;
	height:20%;
	background:none;
	font-size:15px;
	color: black;
	border: none;
	border-bottom: 1px solid black;
}

#comment-input:focus{
	border: none;
	border-bottom: 2px solid black;
	outline: none;
}

.rightside-2 button{
	margin-top: 2px;
	margin-bottom:2px;
	cursor: pointer;
	color: white;
	background-color: #0b0662;
	padding: 3px 7px;
	border-radius: 5px;
}

.rightside-2 button:hover {
	background-color: black;
}

.hidden{
	display:none;
}

.form-fill{
	width:100%;
	height:100%;
	display: none;
}

.form-unhidden{
	display:grid; 
	width:100%;
	height:100%;
	grid-template-columns: repeat(2,1fr);
}

.form-textinput{
	grid-area: 1/1/3/2;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	margin-right: 50px;
	
}

.form-textarea{
	grid-area: 1/2/3/3;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	margin-left: 85px;
}

.form-textinput input[type="text"], .form-textarea textarea{
	width: 100%;
	height: 100%;
	border: none;
	border-bottom: 1px solid black;
	background: none;
	font-size: 15px;
	color: black;
	padding:1rem;
}

.form-textarea button{
	align-self: center;
	width:50%;
	margin-top: 2px;
	margin-bottom:2px;
	cursor: pointer;
	color: white;
	background-color: #0b0662;
	padding: 3px 7px;
	border-radius: 5px;
}

.form-textarea button:hover {
	background-color: black;
}

.arrowfooter{
	display:flex;
	background-color: beige;
	position: fixed;
	justify-content: center;
	bottom: 0;
	width:100%;
}

.arrow-button {
	background: transparent;
	border: none;
	margin: 5px;
}

@media (min-width: 320px) and (max-width:1200px){
	.main-section{
		width:100%;
		height:100%;
		overflow-y: scroll;
	}

	.main-section::-webkit-scrollbar {
		background-color: beige;
		width:10px;
	}

	.main-section::-webkit-scrollbar-track{
		background-color: beige;
	}

	.main-section::-webkit-scrollbar-thumb{
		background-color: grey;
		border-radius: 10px;
	}

	.content.container-fluid{
		display:flex;
		flex-direction: column;
	}

	
	.cards.container-fluid{
		display:flex;
		flex-direction:column;
	}

	.rightside.container-fluid {
		padding: 0;
	}

	.rightside-2{
		margin-bottom: 35px;
	}


	.item-3 {
		min-height: 1000px;
		padding-bottom: 10px;
	}

	.item-1 img{
		width: 100px;
		margin-right: 0px;
	}

	.artist-info h1{
		font-size:1.5rem;
	} 

	.artist-info p{
		font-size: 12px;
	}

	#Card1, #Card2, #Card3, #Card4{
		margin-bottom:5px;
	}
	
	.back p{
		font-size: 0.9rem;
	}

	.back h1{
		font-size: 1rem;
		margin-bottom: 0px;
	}
	.back ul{
		font-size: 0.9rem;
		margin-bottom: 5px;
	}

	#Card3.back {
		overflow: auto;
	}


	#SpotifyPlaylist{
		width:100%;
	}


	#toggleUPDOWN, #artistsSec{
		display: none;
	}

	#NavIcons{
		align-items: center;
	}

	#NavButton{
		margin-bottom: 8px;
	}

	.form-unhidden{
		display: flex;
		flex-direction: column;
	}

}

@media (max-height:900px){
	.main-section{
		width:100%;
		height:100%;
		overflow-y: scroll;
	}

	.content.container-fluid{
		display:flex;
		flex-direction: column;
	}

	
	.cards.container-fluid{
		display:flex;
		flex-direction:column;
	}

	.rightside.container-fluid {
		padding: 0;
	}


	.item-3 {
		min-height: 1000px;
		padding-bottom: 10px;
	}

	.item-1 img{
		width: 100px;
		margin-right: 0px;
	}

	.artist-info h1{
		font-size:1.5rem;
	} 

	.artist-info p{
		font-size: 12px;
	}

	#Card1, #Card2, #Card3, #Card4{
		margin-bottom:5px;
	}
	
	.back p{
		font-size: 0.9rem;
	}

	.back h1{
		font-size: 1rem;
		margin-bottom: 0px;
	}
	.back ul{
		font-size: 0.9rem;
		margin-bottom: 5px;
	}

	#Card3.back {
		overflow: auto;
	}


	#SpotifyPlaylist{
		width:100%;
	}


	#toggleUPDOWN, #artistsSec{
		display: none;
	}

	#NavIcons{
		align-items: center;
	}

	#NavButton{
		margin-bottom: 8px;
	}

	.form-unhidden{
		display: flex;
		flex-direction: column;
	}
}


@media (min-width:1200px) and (max-width: 1800px){
	.arrowfooter{
		display: none;
	}	

	.content.container-fluid{
		grid-template-columns: 1.8fr 6fr 2.5fr;
		max-width: 100%;
	}

	.rightside.container-fluid{
		padding-right: 0px;
		padding-left: 8px;
		margin-bottom: 5px;
		max-width:100%;
	}
	

	.rightside-2{
		padding-left: 7px;
	}

	.item-1 img{
		width: 150px;
	}

	.box-content{
		height:75%;
	}

	.artist img{
		width: 100px;
	}

	.Artist-Button:hover img {
		width: 112px; 
		transition: width 0.5;
	}

	.back p{
		font-size: 0.9rem;
	}

	.back h1{
		font-size: 1rem;
		margin-bottom: 0px;
		margin-top: 5px;
	}
	.back ul{
		font-size: 0.9rem;
		margin-top: 0px;
		margin-bottom: 5px;
	}

	.show-button {
		width: 35px;
		height: 35px;
	}

	.show-button:hover {
		width: 40px;
		height: 40px;
	}

	#Card3.back {
		overflow: auto;
	}


	#SpotifyPlaylist{
		width:100%;
	}



	
}


@media (min-width: 1800px){
	.arrowfooter{
		display: none;
	}

	.item-1 img{
		width: 350px;
	}

	.artist img{
		width: 125px;
	}

	.Artist-Button:hover img {
		width: 135px; 
		transition: width 0.5;
	}
}